# App
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=brainventory_dev
DATABASE_URL="mysql://root:secret@localhost:3306/brainventory_dev"

# JWT
JWT_SECRET=changeme
JWT_EXPIRES_IN=1h
